@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin-top: 40px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 767px;
    position: relative;
}

.login {
    width: 100%;
    height: 110%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 5;
}

.box-login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 261px;
    justify-content: center;
    align-items: center;
}


.nickName {

    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 54px;
    width: 100%;
    border-radius: 4px;
    border: 1px #D7D7D7 solid;
}

.nickName ::placeholder {
    font-family: 'Roboto';
    color: #AEAEAE;
}

.entrar {
    height: 45px;
    width: 109px;
    border-radius: 9px;
    border: 0;
    background-color: #E7E7E7;
    color: #696969;
    font-family: 'Roboto';
}

.entrar ::-ms-value {
    color: #696969;
}

.entrar:hover {
    cursor: pointer;
    background-color: #928e8e;
}

.cabecalho {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
}

.container-cabecalho {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 22px;
}

.container-cabecalho :nth-child(1) {
    width: 42.2;
    height: 30.94px;
}

.container-cabecalho :nth-child(2) {
    height: 30.94px;
    width: 42.2px;
}

.principal {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    overflow-y: scroll;
}

.msgs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #E5E5E5;
    margin-top: 26px;
    margin-bottom: 5px;
}

.msg {
    border-radius: 2px;
    width: 100%;
    min-height: 40px;
    background-color: #FFFFFF;
    display: flex;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-top: 10px;
}


.username {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.rodape {
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 375px;
    position: absolute;
    top: 767px;
}

.container-rodape {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    box-sizing: border-box;
}

.campoDigitacao {
    border-style: none;
    outline: 0;
    flex-wrap: wrap;
    width: 50%;
}

.campoDigitacao::placeholder {
    color: #000000;
    opacity: 1;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.enviar {
    height: 26px;
    width: 26px;
}

.enviar:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}